.footer {
	background: #DDD5CA;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top:50px;
	text-align: center;
}


.footer h2 {
	color: #625757;
	font-size: 30px;
	text-align:center;
}


.footer i {
	text-decoration: none;
	color: #625757;
	transition: color 0.2s ease;
	text-align: center;
	font-size: 30px;
}


.footer i:hover {
	color: white;
}


